extends layout

block content 
	h1(class='text-center') Your fence

	div(class="fence")
		each goal in goals
			div(class="fencepost")
				div(class="fencegoal")
					h2(class='text-center') #{goal.goal_text}