extends layout

block content 
    h1(class='text-center') #{owner}'s Fence
    div(id="nailbox", ondrop="drop(event)", ondragover="allowDrop(event)")
      img(src="http://www.stockphotopro.com/photo-thumbs-2/A0B45Y.jpg", draggable="true", ondragstart="drag(event)", class="nail", width="25", height="25")
    div(class="fence")
        div(class="emptypost", id="empty")
            div(class="newgoal")
                //-h2(class='text-center') What Is Your Goal?
                h4 Create a New Goal
                form(class="emptyform", name="create-goal-form", action="/goal/new", method="post")
                    | I want to...
                    br
                    input(type="text", name="goal_body", style="width: 130px")
                    br
                    br
                    | Notify my friends of my new goal 
                    input(type="checkbox", name="locked")
                    br
                    br
                    button.btn(type="submit")
                        i.icon-plus
                        |  Create new Goal
        each goal in goals
            div(class="fencepost", ondrop="copy(event)", ondragover="allowDrop(event)")
                p(class="numberofnails") #{goal.nails}
                form(action="goal/removenail", method="post")
                  input(type="hidden", value = goal._id, name = "goal_id")
                  input(type="submit",value="Remove a nail")
                div(id="#{goal._id}", class="nailarea", ondrop="copy(event)", ondragover="allowDrop(event)")
                    - for (var i = 0; i< goal.nails; i++)
                        - if (i < 20)
                            img(src="http://www.stockphotopro.com/photo-thumbs-2/A0B45Y.jpg", width="25", height="25", class = "nail")
                div(class="fencegoal")
                    h2(class='text-center') #{goal.goal_text}
