body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* login page styling */

#greeter-content{
	text-align: center;
	margin-top: 100px;
}

/* fence page styling */

.fence{
  width: 12000px;
  overflow: auto;
  text-align: center;
  float:left;
}

.fencepost{
  margin: 0px;
  padding: 0px;
  width: 300px;
  height: 764px;
  display: inline-block;
  background-image: url(images/fencepost_sign_wood.png);
  float:left;
}

.emptypost{
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  width: 300px;
  height: 764px;
  display: inline-block;
  background-image: url(images/fencepost_sign_wood.png);
  float:left;
}

.emptyform{
  color: white;
  width: 140px;
}

.fencegoal{
  margin-top: 420px;
  width: 220px;
  margin-left: 40px;
}

.newgoal{
  margin-top: 300px;
  margin-left: 80px;
  text-align: left;
}

#nailbox{
  float: center; 
  width: 100px; 
  height: 100px; 
  margin: 10px;
  padding: 10px;
  border: 1px solid #aaaaaa;
  background-image: url('http://us.123rf.com/400wm/400/400/temel/temel0802/temel080200284/2619614-close-up-of-a-box-of-nails.jpg'); 
  background-size: 120px 120px;
}

#nailbox .nail{ 
  width:100px; 
  height:100px; 
  opacity: 0.01
}

.fencepost .nail{
  margin-top:100px;
} 

.numberofnails{
  color: black;
  font-size: 20px; 
}